/* -- 全局样式-- */
html{
   
    font-family: "Comic Sans MS";
    box-sizing: border-box;
    background:#fff5f4;
    color:#535353;
}
body{margin:0; font-size:.32rem;}
*, *:before, *:after {
    box-sizing: inherit;
}

a{text-decoration: none;color:inherit;}
b{font-weight: bold;}

/* -- 全局样式-- */
/* --导航-- */
.nav{height:1.38rem;text-align: center;
    font-size: .48rem;line-height: 1.38rem;
    box-shadow: 0 0 5px rgba(0,0,0,.5);}
.title{text-align: center;}
.home{float:left;margin-left:.15rem;font-size:.64rem;}
/* --导航-- */

/* -- 最外层的大盒子-- */
.wrapper{
    position: relative;
    width:100%;
    margin:20px auto 0;
}

/* -- 最外层的大盒子-- */

/* -- 专辑内容-- */
.fm-section{
    padding:0 .15rem .15rem;
}
.fm-list{text-align: center;}
.fm-tags{
    font-size: .6rem;
    text-align: center;
    line-height: 60px;
    width:100%;
}
.album-h3{
    margin:0 0 .133rem 0;
}

.album-block{
    margin: 0 .48rem 0 0;
    text-align: center;
    color:#CF7F7F;
}
.album-info{
    display:inline-block;
    width:3.19rem;
    margin:.15rem 0;
    height:4.5rem;
}
.jvc-cover{
    width:3.1rem;height:3.1rem;font-size: 0;
}
.jvc-name{
    color: #333;
    margin:0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width:95%;
}
.jvc-singer{
    width:95%;
    color:#CF7F7F;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}