html{
    font-family: "Comic Sans MS";
    box-sizing: border-box;
    background:#fff5f4;
    color:#535353;
}
body{
    margin:0;font-size:.32rem;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a{text-decoration: none;color:inherit;}
ul,li{list-style: none;margin:.267rem 0;padding:0 0 .267rem 0;}
.wrapper{
    width:100%;
}

/* 专辑列表 */
.albums-info{
    width:100%;text-align: center;
   
}
.other-albums{
    width:100%;
}
.other-albums .jvc-name{ 
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.jvc-date{float:right;}
/* 专辑列表 */

/* 音乐列表 */

.sound-from{
    float:right;
    text-align: left;
    line-height: .6rem;
    height:.6rem;
}
.jvc-icon{
    width:.6rem;
    vertical-align: middle;height:.6rem;font-size: 0;
}
.jvc-cover{
    width:100%;height:10rem;
}
.sound-list{
    border-bottom:1px solid #535353;
}
/* 音乐列表 */

/* 评论 */
.comments-info{
    padding:.267rem;position: relative;
    border-bottom:1px solid #535353;
}
.jvc-avatar{
    width:1rem;height:1rem;
    border-radius: 50%;position: absolute;
    left:.267rem;top:.267rem;vertical-align: middle;
}
.author{margin:9px 0 23px 60px;}
.comments-info .jvc-name{
    margin-left:.534rem;
}

/* 评论 */