html{
    font-family: "Comic Sans MS";
    box-sizing: border-box;
    background:#fff5f4;
    color:#535353;
}
body{
    margin:0; 
    font-size:.373rem;
    -webkit-overflow-scrolling: touch;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a{text-decoration: none;color:inherit;}
.subnav
{
    font-size: .4rem;
    width: 100%;
    height: 1.334rem;
    background: #ff414b;
    color:white;
    line-height:1.334rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
} 
.subnav .logo {
    display: inline-block;
    z-index: 100;
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    background: url(../img/back.png);
    background-size: 100% 100%;
    margin: 0.3rem 0.4rem 0;
}
.subnav .title
{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    height: 100%;
    z-index: 0;
    padding-top: 0.15rem;
}
.subnav .title .jvc-name
{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 5rem;
    margin: 0 auto;

}


/* 名人分类 */
.classify-box{
    width:100%;
    background: #fff;
}
.tags-wrap{
    width:100%;
    height: 1.2rem; 
    border-bottom:1px solid #ec2963; 
    overflow: auto;
}
.classify
{
    width: 30rem;
}
.classify-content{
    padding-bottom: 0.4rem;
    overflow: hidden;
}
.tags{
    display: inline-block;
    font-size: 0.4rem;
    padding: 0 0.2rem;
    vertical-align: top;
    height: 0.8rem;
    margin-top: 0.2rem;
    vertical-align: top;
    line-height: 0.9rem;
    border-radius: 0.2rem;
}
.tags.on
{
    background: #02B957;
    color: #fff;
}
.singers{
    display: inline-block;
    margin:.64rem 0 0 .64rem;
}

/* 名人分类 */

.wrapper{
    overflow: hidden;
    width:100%;
    margin-top: 1.334rem;
}
.content{
    width:100%;
    margin-bottom:.267rem;
    background: #fff;
    padding-top: 0.2rem;
}
.content>h2{
   font-size: .534rem;
   margin:.15rem;
   border-bottom: 1px solid #ec2963;
}
.content .min-warpper{
    width:100%;
}
.content .tem-font{
  display: inline-block;
  vertical-align: middle;
  width:2.5rem;height:3.3rem;
  padding:.15rem;
}
.jvc-link{
    width:1.8rem;height:1.8rem;
    padding:.2rem;
    font-size: 0;
    position: relative;display: block;
}
.jvc-link .jvc-cover{
    width:100%;height:100%;border-radius: 50%;
}
.jvc-link:after{
    content:"V";font-size: .5rem;
    width:.6rem;height:.6rem;
    border-radius: 50%;
    background: #ff414b;
    color:white;
    display: block;
    position: absolute;
    bottom:0;right:0;
    text-align: center;
    line-height:.6rem;  
}
.content .jvc-name{
    margin: 0;
    text-align:center;  
    width:100%;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.jvc-follow{
    color:#fb4f29;
    font-size:.35rem;
    width:100%;
    margin: 0;
    overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
