html{
    font-family: "Comic Sans MS";
    box-sizing: border-box;
    background:#fff5f4;
    color:#535353;
}
body{margin:0; font-size:.373rem;}
*, *:before, *:after {
    box-sizing: inherit;
}
a{text-decoration: none;color:inherit;}
.nav{height:1.38rem;text-align: center;
    font-size: .48rem;line-height: 1.38rem;
    box-shadow: 0 0 5px rgba(0,0,0,.5);}
.title{text-align: center;}
.home{float:left;margin-left:.15rem;font-size:.64rem;}
/* 名人分类 */
.classify-box{
    width:100%;position: relative;
}
.classify{
    width:100%;  
}
.classify-content{
    position: absolute;left:0;top:100%;
    background:white;
    z-index: 999;
}
.classify-content.on{
    display: none;
}
.tags{
    display: inline-block;
    margin:0;
    height:1rem;line-height:1rem;
    border-bottom:1px solid #666;
    width: 2rem;
    text-align: center;
}
.tags:first-child
{
    color: #29DF29;
}
.singers{
    display: inline-block;
    margin:.64rem 0 0 .64rem;
}

/* 名人分类 */

.warpper{
    width:100%;
}
.content{width:100%;margin-top:.267rem;}
.content>h2{
   font-size: .534rem;
   margin:.15rem;
}
.content .min-warpper{
    width:100%;
}
.content .tem-font{
  display: inline-block;
  margin:0;width:2.5rem;height:3.3rem;
  padding:.15rem;
}
.jvc-link{
    width:1.8rem;height:1.8rem;
    padding:.2rem;
    font-size: 0;
    position: relative;display: block;
}
.jvc-link .jvc-cover{
    width:100%;height:100%;border-radius: 50%;
}
.jvc-link:after{
    content:"V";font-size: .5rem;
    width:.7rem;height:.7rem;
    border-radius: 50%;
    background: lightgreen;
    color:white;
    display: block;
    position: absolute;
    bottom:0;right:0;
    text-align: center;
    line-height:.8rem;  
}
.content .jvc-name{
    margin: 0;
    text-align:center;  
    width:100%;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.jvc-follow{
    color:#CF7F7F;
    font-size:.35rem;
    width:100%;
    margin: 0;
    overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
