/* -- 全局样式-- */
html{
    font-family: "Comic Sans MS";
    box-sizing: border-box;
    background:#fff5f4;
    color:#535353;
}
*, *:before, *:after {
    box-sizing: inherit;
}

a{text-decoration: none;color:inherit;}
b{font-size:.64rem;font-weight: bold;}
h1{font-size: .64rem;margin:.8rem .267rem 0}

/* -- 全局样式-- */

/* -- 导航-- */
.music-well
{
	width: 100%;
	height: 1.334rem;
	border-radius: .213rem;
}
.music-well .nav
{
    font-size: .48rem;
    width: 100%;
    display:flex;
	height:100%;
	background: -webkit-linear-gradient(left,#ff2d86,#ff414b);
    border-radius:.213rem .213rem 0 0;
    color:white;line-height:1.334rem;
}
.nav .nav-list{
    margin:0 .534rem;cursor:pointer;
}
.nav .logo {
    margin-right: 1.334rem;
}
/* -- 导航-- */

/* -- 最外层的大盒子-- */
.wrapper{
    position: relative;
    width:100%;
    margin:.534rem 0 0;
}

/* -- 最外层的大盒子-- */

/* -- 热度引导和频道分类-- */
.fm-list{
    position: absolute;
    width:3.4rem;
    height:auto;
    display: flex;flex-direction:column;
    color:white;    
    border-radius:.133rem;
    font-size:.534rem;
}
.fm-tags{
    text-align: center;
    line-height: 60px;
    height:60px;
    width:100%;
    display: block;
    border-bottom:1px solid white;
}
/* -- 热度引导和频道分类-- */

/* -- 频道内容-- */
.fm-section{
    width:100%;
    display: block;
}
/* -- 频道内容-- */

/* -- 热门频道-- */
.share{transform:rotate(-45deg);
    display: inline-block;
}
.album-wrapper{
    width:100%;
    display: flex;
    flex-direction: column;
    margin:0 0 .534rem 0;
  
}
.album-img{
    display:flex;width:100%;position: relative;
    
}

.fm-tags-imgs{
    transition:all 0.7s ease;
    position: absolute;opacity: 0;
    left:110px;top:0;z-index: 1;
}
.fm-tags-imgs.two{
    top:93px;z-index: 3;
}
.jvc-cover{
    position: relative;z-index: 2;
}
.album-share{   
    font-size:.534rem;
    height:5rem;
    align-items: center; 
    padding:.534rem .267rem;
   
}
.icon-box{
    margin:.267rem 0;
}
.icons{
    font-style: normal;
    margin:0 10px;
    color:#ff414b;
}

.sound-title{color:#666;
    margin: .01rem .267rem .534rem;font-size: .48rem;font-weight:bold;
}

.musics{
    margin:.267rem 0;
    width:100%;
    height:2.67rem;
}
.musics-songs{
    width:13.34rem;
    padding:.267rem;
    display: flex;flex-direction: column;
}
.jvc-sound-link{
    display:flex;width:100%;
}
.musics-img{
    margin-right:10px;height:2.7rem;
}
.jvc-song{
    width:6.34rem;
    display: block;
    font-size: .534rem;
    line-height: 1.334rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.album-title{
}
.jvc-name{
    font-size: .534rem;
    color:#ff2d86;
}


.jvc-singer{
    color:#CF7F7F;font-size:.534rem;
}
.jvc-avatar{
    width:2.7rem;
}
.jvc-cover{
    width:100%;height:5rem;position: relative;
}
/* -- 热门频道-- */
