@font-face{
	font-family: 'biko';
	src: url('../fonts/biko.ttf');
}
@font-face{
	font-family: '思源黑体';
	src: url('../fonts/SYH.ttf');
}
html,body
{
 	background: #fff5f4; 
 	font-family: '思源黑体';
 	padding: 0;
 	margin: 0;
 	-webkit-overflow-scrolling:touch;
}
a{text-decoration:none;color:inherit;}
h1,h2,h3,h4,h5,h6,p
{
	margin: 0;
}
.music-well
{
	width: 100%;
	height: auto;
	border-radius: .213rem;
	padding-top: 1.334rem;
	padding-bottom: 1.334rem;
}
.music-well .nav
{
    font-size: .4rem;
    width: 100%;
	height: 1.334rem;
	background: #ff414b;
    color:white;
    line-height:1.334rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
} 
.nav .logo {
    float: left;
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    background: url(../img/logo.png);
    background-size: 100% 100%;
    margin: 0.3rem 0.2rem 0;
}
.search
{
	float: right;
	width: 6rem;
	height: 0.8rem;
	background: #fff;
	margin: 0.3rem 0.2rem 0 0;
	border-radius: 0.4rem;
	overflow: hidden;
	position: relative;
}
.search input
{
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
	margin: 0;
	padding: 0;
	vertical-align: top;
	background: none;
	box-sizing: border-box;
	padding-left: 0.4rem;

}
#search
{
	display: inline-block;
	width: 0.8rem;
	height: 0.8rem;
	background: url(../img/search.png);
	background-repeat: no-repeat;
	background-size: 0.6rem 0.6rem;
	background-position: 0.1rem 0.1rem;
	position: absolute;
	top: 0;
	right: 0.2rem;
}
.carousel
{
	width: 10rem;
	overflow: hidden;
	position: relative;
}
.carousel ul
{
	width: 50rem;
	font-size: 0;
	margin: 0;
	padding: 0;
}
.carousel ul li
{
	display: inline-block;
	width: 10rem;
	list-style: none;
}
.carousel img{
	width: 100%;
}
.carousel-dot{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
.carousel-dot span
{
	display: inline-block;
	box-sizing: border-box;
	width: 0.2rem;
	height: 0.2rem;
	border-radius: 0.1rem;
	border: 1px solid #fff;
	margin: 0 0.1rem;
}
.carousel-dot span.active
{
	border: none;
	background: #ff414b;
}
.lists
{
	border-bottom: 3px solid #fb4f29;
	padding: .533rem 0;
	font-size: 0;
}
.lists h1
{
	font-size: .64rem;
	color: #3d3f3e;
	margin: .8rem .267rem .534rem;
}
.list
{
	width: 1.334rem;
	height: 1.334rem;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 .267rem;
	text-align: center;
	line-height:1.334rem;
}
.list a
{
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	color: white;
	font-size: .267rem;
	text-decoration: none;
}
.list-1
{
    background: -webkit-linear-gradient(right top, #57bdaf , #bd2ea4); 
}
.list-2
{
    background: -webkit-linear-gradient(right top, #ec2963 , #894bc6); 
}
.list-3
{
    background: -webkit-linear-gradient(right top, #ff852f , #c0237c); 
}
.list-4
{
    background: -webkit-linear-gradient(right top, #e36a8b , #7071c4); 
}
.list-5
{
    background: -webkit-linear-gradient(right top, #f2a5af , #79a4c6); 
}
.lists-content{
	display: flex;flex:1;align-items: center;justify-content: center;
}
.contents h1
{
	font-size: .4rem;
	text-align: center;
	margin: .4rem 0;
}
.template-cover
{
	display: block;
	width: 100%;
	height: 4.6rem;
}
.template-cover img
{
	width: 100%;
	height: 100%;
}

.tpl-recommend
{
	display: inline-block;
	width: 4.6rem;
	overflow: hidden;
	margin: 0 0.15rem 0.4rem;
}
.recommend{
	text-align: center;
	font-size: 0;
}
.recommends
{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	border-bottom: 3px solid #fb4f29;
}
.tpl-recommend .jvc-name
{	
	width:90%;
	font-size: .373rem;
	line-height: .534rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin: .167rem 0 0;
	text-align: left;
}
.tpl-recommend .jvc-fm
{
	font-size: .32rem;
	color: #CF7F7F;
	margin-bottom: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
}
.icon-info{
	width:100%;text-align:left;
	display: flex;flex:1;align-items: center;
	justify-content: center;
}
.icons{font-size:.32rem;
	width:1.24rem;height:.64rem;
	margin:0 .05rem;}
.icon{
	display: inline-block;
	width: .32rem;
	height: .32rem;
	vertical-align: middle;
}
.icon-share
{
	background: url("../img/icon-share.png") no-repeat;
	background-size: .32rem .32rem;
	background-position: 0 -.0266rem;
}
.icon-like
{
	background: url("../img/icon-like.png") no-repeat;
	background-size: .32rem .32rem;
	background-position: -.0266rem -.0533rem;
}
.icon-comment
{
	background: url("../img/icon-comment.png") no-repeat;
	background-size: .32rem .32rem;
	background-position: -.0266rem -.0533rem;
	
}
.tpl-recommend b
{
	font-size:.32rem;
	color: #666;
	line-height:.8rem;
	font-weight: normal;
}
.hot{
	overflow: hidden;
	font-size: 0;
}
.hot_recommend
{
	display: inline-block;
	vertical-align: middle;
	width:100%;
	font-size: 0;
}
.hot-cover
{
	display: inline-block;
	vertical-align: top;
	width:2rem;
	height: 2rem;
	margin: 0 0.2rem;
}
.hot-cover img
{
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.hot-info
{
	display: inline-block;
	width: 7rem;
	text-align: left;
	
}
.tpl-hot
{
	padding: .267rem 0;
	border-top: 1px solid #ec2963
}
.tpl-hot .jvc-name
{
	vertical-align: top;
	font-size: .373rem;
	height: 0.634rem;
	line-height: .634rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tpl-hot .jvc-tag
{
	font-size: .32rem;
	line-height: .534rem;
	height:.534rem;
	color: #CF7F7F;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.tags
{
	font-size: 0.32rem;
	margin-top: 0.4rem;
	margin-left: -0.2rem;
}
.tags span
{
	margin-left: 0.2rem;
	margin-right: 0.1rem;
	color: #ff414b;
}
.template
{
	display: none;
}
.music-content
{
	width: 100%;
	margin: 0 auto;
}


.foot
{
    width: 100%;
	height: 1.334rem;
	background: #ff414b;
    position: fixed;
   	bottom: 0;
    left: 0;
    z-index: 100;
}
.foot ul
{
	margin: 0;
	padding: 0;
	text-align: center;
}
.foot li
{
	display: inline-block;
	vertical-align: top;
}
.foot a
{
	margin: 0.3rem 0.6rem 0;
}
.icon-index
{
	display: inline-block;
	width: 0.8rem;
	height: 0.8rem;
	background: url(../img/logo.png);
	background-size: 100% 100%;
}
.icon-index.active
{
	background: url(../img/logo-active.png);
	background-size: 100% 100%;
}
.icon-fm
{
	display: inline-block;
	width: 0.8rem;
	height: 0.8rem;
	background: url(../img/fm.png);
	background-size: 100% 100%;
}
.icon-fm.active
{
	background: url(../img/fm-active.png);
	background-size: 100% 100%;
}
.icon-play
{
	display: inline-block;
	width: 0.8rem;
	height: 0.8rem;
	background: url(../img/play.png);
	background-size: 100% 100%;
}
.icon-play.active
{
	background: url(../img/play-active.png);
	background-size: 100% 100%;
}
.icon-mall
{
	display: inline-block;
	width: 0.8rem;
	height: 0.8rem;
	background: url(../img/mall.png);
	background-size: 100% 100%;
}
.icon-mall.active
{
	background: url(../img/mall-active.png);
	background-size: 100% 100%;
}