html{
    box-sizing: border-box;
    background:#fff5f4;
    color:#535353;
}
body
{
    padding: 0;
    margin: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a{text-decoration: none;color:inherit;}
h1{font-size: .64rem;}
p{margin:0;}
.subnav
{
    font-size: .4rem;
    width: 100%;
    height: 1.334rem;
    background: #ff414b;
    color:white;
    line-height:1.334rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
} 
.subnav .logo {
    display: inline-block;
    z-index: 100;
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    background: url(../img/back.png);
    background-size: 100% 100%;
    margin: 0.3rem 0.4rem 0;
}
.subnav .title
{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    height: 100%;
    z-index: 0;
    padding-top: 0.15rem;
}
.subnav .title .jvc-name
{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 5rem;
    margin: 0 auto;

}
.rankTop{
    width: 100%;
    height: 1rem;
    position: fixed;
    top: 1.334rem;
    left: 0;
    text-align: center;
    background: #fff;
    z-index: 100;
    font-size: 0;
}
.rankTop span{
    display: inline-block;
    width: 33.333%;
    height: 100%;
    vertical-align: top;
    font-size:.426rem;
    line-height: 1rem;
}
.rankTop span.active
{
    color: #fff;
    background: #02B957;
}
.wrapper{
    width: 100%;
}

.container{
    width: 100%;
    margin-top: 2.334rem;
}

.hover{
    /*height:2.6rem;*/
    font-size:0;
    width:100%;
    /*background: #fff;*/
    padding: 0.3rem 0 0.2rem;
    border-bottom: 1px solid #ec2963;
}

.jvc-link{
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    width: 2.6rem;
    height: 2.6rem;
    margin: 0 0.1rem 0;
}
.jvc-cover
{
    width:100%;
    height:100%;
    font-size:0;
}
.rank-info
{
    display: inline-block;
    vertical-align: top;
    width:6rem;
    height:100%;
    margin:.0;
}
.jvc-author{
    height:.5rem;
    line-height: 0.5rem;
    font-size:.4rem; 
    color:#CF7F7F;
    margin-top: 0.1rem;
}
.jvc-name{
    font-size: .45rem;
    width:100%;
    height: 1.2rem;
    line-height: .6rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 0.2rem;
}
.tag
{
    font-size: 0.3rem;
    line-height: 0.4rem;
    margin-top: 0.3rem;
    margin-left: -0.2rem;
}
.tag span
{
    margin: 0 0.1rem 0 0.2rem;
    color: #ff414b;
}