html{
    font-family: "Comic Sans MS";
    box-sizing: border-box;
    background:#fff5f4;
    color:#535353;font-size: 20px;
}
body{font-size:.373rem;margin:0;}
*, *:before, *:after {
    box-sizing: inherit;
}
a{text-decoration: none;color:inherit;}
ul,li{list-style: none;margin:0;padding:0;}
i{color:#ff414b;font-weight: bold;}

h2{margin-top:0;}
.subnav
{
    font-size: .4rem;
    width: 100%;
    height: 1.334rem;
    background: #ff414b;
    color:white;
    line-height:1.334rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
} 
.subnav .logo {
    display: inline-block;
    z-index: 100;
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    background: url(../img/back.png);
    background-size: 100% 100%;
    margin: 0.3rem 0.4rem 0;
}
.subnav .title
{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    height: 100%;
    z-index: 0;
}
.subnav .title .jvc-name
{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 5rem;
    margin: 0 auto;
    color:#fff;

}

.wrapper{
    width:100%;margin-top:1.34rem;
}
.singer-img{
    width:100%; vertical-align: top;
    padding:.15rem;
}
.singer-info{
    display:inline-block;
    width:6rem;padding:0 .15rem;
}
.jvc-name{
    font-size:.64rem;font-weight: bold;
}
.jvc-avatar{
   width:2.5rem; 
   height:2.5rem;
   border-radius: 50%;
   vertical-align: top;
}
.jvc-intro{
    text-indent: .64rem;
}
.songs-list{
    width:100%;height:3rem;
    padding: .15rem;
    overflow: hidden;
    border-top:1px solid #ec2963;
}
.jvc-cover{height:100%;vertical-align: top;width:2.7rem;}
.other-songs-info{
    padding: 0 .15rem;height:100%;
    display: inline-block;
    position: relative
    
}
.jvc-song{
    overflow:hidden;text-overflow:ellipsis;
    white-space: nowrap;width:6.2rem;
}
.jvc-tag{
    color:#CF7F7F;
    margin-top:.4rem;
}
.love{position: absolute;bottom:0;}
.jvc-play,.jvc-pause{
    display:block;position: absolute;
    width:1rem;height:1rem;border-radius:50%;
    color:white;
    z-index: 999;
}
.jvc-play{
    bottom:0;left:-2.8rem;
    background: url(../img/playing.png) no-repeat ;
    background-size: cover;
}

.jvc-pause{ 
    bottom:0;left:-1.12rem;font-weight: bolder;
    text-align: center;
    background: url(../img/pause.png) no-repeat ;
    background-size: cover;
}
