/* -- 全局样式-- */
@font-face{
    font-family: 'biko';
    src: url('../fonts/biko.ttf');
}
@font-face{
    font-family: '思源黑体';
    src: url('../fonts/SYH.ttf');
}
html,body
{
    background: #fff5f4; 
    font-family: '思源黑体';
    height: 100%;
    padding: 0;
    margin: 0;
    /*overflow: hidden;*/
}
*, *:before, *:after {
    box-sizing: inherit;
}
a{text-decoration: none;color:inherit;}
h2{text-align: center;}
/* -- 导航-- */
.music-well
{
    width: 100%;
    height: auto;
    border-radius: .213rem;
    padding-top: 2.534rem;
    padding-bottom: 1.334rem;
    /*overflow: hidden;*/
}
.music-well .subnav
{
    font-size: .4rem;
    width: 100%;
    height: 1.334rem;
    background: #ff414b;
    color:white;
    line-height:1.334rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
} 
.subnav .logo {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    background: url(../img/back.png);
    background-size: 100% 100%;
    margin: 0.3rem 0.4rem 0;
}
.subnav .title
{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    height: 100%;
}
.subnav .title .jvc-name
{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 5rem;
    margin: 0 auto;

}
/* -- 导航-- */

.wrapper
{
    width: 20rem;
    font-size: 0;
}
.wrapper .dot li
{
    list-style: none;
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    border: 1px solid #fff;
    box-sizing: border-box;
}
.sound-info{
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
    vertical-align: top;
    width: 10rem;
}
.sound-comment
{
    display: inline-block;
    width: 10rem;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 0.2rem;
    margin-top:-1rem;
}
.sound-info .sound-img{
    width:6rem;
    height: 6rem;  
    border-radius: 3rem;
    margin: 0 auto;
    overflow: hidden;
}
.sound-info .sound-img img
{
    width: 100%;
    height: 100%;
}
.sound-info .audio-control{
    position: absolute;
    width:100px;height: 100px;
    border-radius:50%; 
    top:50%;left:50%;
    transform:translate(-50%,-50%);
    cursor:pointer;
}
.sound-info .describtion{
    font-size: 0.3rem;
    width: 100%;
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-line;
}
.describtion-wrap
{
    height: 3rem;
    overflow: auto;
    margin-top: 0.5rem;
}
.sound-comment h2
{
    font-size: 0.5rem;
    text-align: left;
}
.comments .comments-info{
    position: relative;
    font-size: 0.3rem;
    border-bottom:1px solid #CF7F7F;
}
.comments .jvc-avatar{
    max-width:50px;border-radius: 50%;position: absolute;
    left:10px;top:0px;
}
.comments .author{margin-left:60px;}
.comments .jvc-name{
    color:#CF7F7F;
}
.comments .content{
    margin:0 10px;padding:10px 0;
}
